@page "/production"
@inherits RenderableComponentBase

<h1>Production Example</h1>



<div class="container">
    <button class="btn btn-primary btn-lg mb-2 mt-2" type="button"
            @onclick="Start">
        Click me to start!
    </button>
    <div class="row">
        <div class="col-sm">
            <div class="card shadow p-3 mb-5 bg-body rounded">
                <div class="card-body">
                    <h5 class="card-header"><b>Good pieces</b></h5>
                    <h1 class="text-center text-success">@ProductionTwin.ok_pieces.Cyclic</h1>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card shadow p-3 mb-5 bg-body rounded">
                <div class="card-body">
                    <h5 class="card-header"><b>Bad pieces</b></h5>
                    <h1 class="text-center text-danger">@ProductionTwin.nok_pieces.Cyclic</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card shadow p-3 mb-5 bg-body rounded">

                <div class="card-body">
                    <h5 class="card-title"><b>Production status:</b></h5>
                    <div class="progress" style="height: 30px;">
                        <div class="progress-bar"
                             role="progressbar"
                             style="width: @(ProductionTwin.progress_bar_value.Cyclic/10)%"
                             aria-valuenow="@ProductionTwin.progress_bar_value.Cyclic"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>

                    @if (@ProductionTwin.progress_bar_value.Cyclic == 1000)
                    {
                        <h3 class="text-success m-2 text-center">Done!</h3>
                    }
                    <button class="btn btn-primary mt-5"
                            @onclick="Reset">
                        Reset
                    </button>
                    <button class="btn btn-primary mt-5"
                            @onclick="Pause">
                        Pause
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



    